.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: center;
}

.autoCompleteInput {
  padding: 5px;
  padding-left: 20px;
  width: 400px;

  height: 30px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.04);
}
::placeholder {
  color: rgb(225, 225, 225);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgb(225, 225, 225);
}

::-ms-input-placeholder {
  color: rgb(225, 225, 225);
}

.dataContainer {
  text-align: center;
  display: block;
  margin: auto;
  padding: 5px;
  padding-left: 20px;
  overflow: scroll;
  width: 400px;
  height: 250px;
  border-radius: 4px;
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.04);
}

@media only screen and (max-width: 600px) {
  .autoCompleteInput {
    width: 80%;
  }
  .dataContainer {
    margin-top: 4px;
    width: 100%;
    height: 40%;
  }
}
.item {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px;
  transition: 1s;
}
item:hover {
  background-color: rgb(166, 132, 132);
}
item:focus {
  background-color: rgb(166, 132, 132);
}
